{extend name='base'/}
{block name='content'}
<table class="table table-hover">
    <tbody>
    <tr>
        <th class="active" colspan="10">温馨提示</th>
    </tr>
    <tr>
        <td colspan="10">
            个人博客：<a href="http://www.2hider.com" target="_blank">www.2hider.com</a>
        </td>
    </tr>
    <tr>
        <th class="active" colspan="10">系统信息</th>
    </tr>
    <tr>
        <td>核心框架</td>
        <td colspan="5">Thinkphp</td>
    </tr>
    <tr>
        <td>版本号</td>
        <td colspan="5">5.1</td>
    </tr>
    <tr>
        <td>开发者</td>
        <td colspan="5">Hider</td>
    </tr>
    </tbody>
</table>
{/block}